{% extends "mainsite/base.html" %}
{% load static %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static 'mainsite/css/styles.css' %}"  /> 
    <title>{{title}}</title>
{% endblock %}

{% block content %}
        
        <div class="row">
            <div class="col-12 align-items-center">
                <div class="d-flex justify-content-center"><h1>Iphone store</h1></div>    
            </div>
        </div>

        <div class="row row-cols-md-5">
        {% for i in items %}
            
            <div class="col-12 align-items-center d-flex justify-content-start align-items-stretchs">
                    
                    <div class="card h-100" style="width: 18rem;">
                        <img src="{{i.photo.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{i.title}}</h5>
                            <p class="card-text">{{i.info}}</p>
                            
                            <a href="{{ i.get_absolute_url }}" class="btn btn-primary">Переглянути</a>
                        </div>
                    </div>
                
            </div>
          
        {% endfor %}
         </div> 
       

        <div class="row">
            <div class="col-12 align-items-center">
                <div class="d-flex justify-content-center my-md-4">Виникли питання? Звертайся в службу підтримки за номером #номер актуальний з контаків підтягується# та отримай якісну консульатцію </div>    
            </div>
        </div>
    
{% endblock %}